/* textarea {
  width: 100%;
}
input[type="submit"] {
  margin-top: 10px;
} */
.jumbotron {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
